In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/Users/macbookair/Desktop/Machine Learning/Feature_Scaling/Standardization/Social_Network_Ads.csv')

In [5]:
df = df.iloc[:, 2:]

In [6]:
df.sample(5)

     Age  EstimatedSalary  Purchased
214   47            43000          0
212   59            42000          0
197   20            36000          0
108   26            86000          0
123   35            53000          0

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('Purchased' , axis=1), df['Purchased'], test_size=0.3, random_state=0)
X_test.shape,X_train.shape

((120, 2), (280, 2))